button {
    border: none;
    background: none;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    transition: 0.5s;
}

.submit-btn, .reset-btn {
    text-transform: uppercase;
    padding: 1em;
    margin: 0 auto 2em auto;
}

.submit-btn {
    border: 1px solid green;
    color: green;
}

.reset-btn {
    display: flex;
    justify-content: center;
    background: #fcd388;
    color: #444343;
}

.submit-btn:hover {
    background: green;
    color: white;
}

.reset-btn:hover {
    opacity: 0.7;
}
